.box-scroll {
    display: grid;
    grid-template-areas: "box__header" "box__body" "box__footer";
    grid-template-rows: auto 1fr auto;
    overflow: hidden;

    &__header {
        grid-area: box__header;
    }

    &__body {
        grid-area: box__body;
        overflow-y: auto;
        padding: 17px 0;
    }

    &__footer {
        grid-area: box__footer;
    }
}
