/**
    плохое именование
    .msg-area и есть .message
    как правильно
    1) .messages, .message, .messages__item / __single
    2) .msg-area, .msg, .msg-area__item / __single
 */
.msg-area {
    display: grid;
    grid-template-areas: "msg-area__history" "msg-area__input";
    grid-template-rows: 1fr auto;
    gap: 11px;
    overflow: hidden;

    &__history {
        grid-area: msg-area__history;
    }

    &__input {
        grid-area: msg-area__input;
        min-height: 64px;
    }

    // опять не по БЭМ, вложенный блок в блок
    /**
        [1] у нас ещё есть браузеры не на вебките. В любом случае это хак, который был принят из-за того что
        уже что-то пошло не так, как правильно: width: 100% или flex: 1 и ОПРЕДЕЛЕННО это стили уровня элемента, а не блока .message,
        т.е .msg-area__item например, т.к. сам .message не должен знать о контейнере в котором его сейчас отображают
     */
    .message {
        display: inline-flex;
        flex-direction: column;
        width: -webkit-fill-available; // [1]

        &__header {
            width: fit-content;
            margin-bottom: 11px;

            &_me {
                margin-left: auto;

                .sidebar-item { // не БЭМ, вложенный блок
                    &__before {
                        width: auto;
                        margin: 0;
                    }

                    &__text {
                        margin: 0 14px;
                    }
                }
            }

            .sidebar-item {
                min-height: 32px;
                padding: 0;
            }
        }

        &__body {
            border-radius: 8px;
            padding: 14px 17px;
            width: fit-content;
            margin-bottom: 11px;

            &_other {
                background-color: $primary-color;
            }

            &_unread {
                color: #FFF;
                background-color: $button-color;
            }

            &_me {
                background-color: $border-color;
                margin-left: auto;
            }
        }
    }
}
