//элемент вне блока, выглядит как плохой код стайл
.box__header {
    border-width: 2px;
}

/**
    плохое имя, ты его применял не только в сайдбаре
    как правильно:
    1) например создать миксин и применять точечно для разных блоков, хотя будет небольшой копипаст
    2) назвать .list-item и действительно применять только в листах

    Ещё момент, этот класс явно нарушает SRP, в css он тоже есть как в ооп
    Здесь как минимум две задачи решается: стили листа элементов и стили элементов строки
 */

.sidebar-item {
    display: flex;
    min-height: 44px;
    align-items: center;
    text-decoration: none;
    padding: 2px 10px 2px 15px;
    box-sizing: border-box;

    &_selected, &:hover {
        border-radius: 20px;
        background-color: $primary-color;
    }

    // а вот это уже совсем чет жесткое, что-то явно пошло не по плану, раз пришлось так писать
    // правильнее было: не писать этот класс всем блокам подряд
    &_no-hover {
        &:hover {
            background-color: inherit;
        }
    }

    &__before {
        display: inline-block;
        width: 30px;
        flex-shrink: 0;
        margin-right: 14px;
    }

    &__text {
        flex: 1 1 auto;
    }

    &__after {
        display: inline-flex;
        min-width: 30px;
        min-height: 30px;
        flex-shrink: 0;
    }
}

.sidebar-menu {
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        display: grid;
        gap: 16px;
    }
}
